# dependencies
node_modules/

# env & secrets
.env
.env.*

# api build output
api/dist/

# env build output
packages/env/dist/

# market-data build output
packages/market-data/dist/

# db build output
packages/db/dist/

# scripts build output
packages/scripts/dist/
*.db
gainster-db
gainster-db-shm
gainster-db-wal

# next.js
web/.next/
web/out/

# misc
.DS_Store
*.tsbuildinfo
