# dependencies
node_modules/

# env & secrets
.env
.env.*

# api build output
api/dist/

# market-data build output
packages/market-data/dist/
*.db

# next.js
web/.next/
web/out/

# misc
.DS_Store
*.tsbuildinfo
